/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
===============
Variables
===============
*/

:root {
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*  global classes */
.img:not(.logo) {
  /* display: inline-block;
  width:100%;
  object-fit: cover; */
}
/* section */
.section {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.title-underline {
  height: 0.2rem;
  width: 5rem;
  background: rgb(100, 100, 12);
  margin: 1rem auto 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* main {
  min-height: 100vh;
  display: grid;
  place-items: center;
} */

/*
=============== 
Header
===============
*/
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(18, 17, 10, 0.7), rgba(0, 0, 0, 0.9)),
    url("./images/integral-bg.png") no-repeat center/cover;
}
.nav {
  padding: 1rem 1.5rem;
  max-width: var(--max-width);
  margin: 0 auto;
  background: var(--clr-white);
}
.nav .social-icons {
  display: none;
}
.nav .social-icons a {
  color: var(--clr-black);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  color: rgb(100, 100, 12);
}
.logo {
  width: 50px;
  border-radius: 50%;
}
.links-container {
  overflow: hidden;
  transition: var(--transition);
  height: 0;
}

/* end of  icons style */
.links a {
  color: var(--clr-black);
  font-size: 1.1rem;
  font-weight: thin;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  font-weight: bold;
  padding: 0.75rem 0;
  transition: var(--transition);
}
.links a:hover {
  color: rgb(100, 100, 12);
}
.show-links {
  padding-top: 2rem;
  height: calc(144px + 2rem);
}
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto;
  }
  .links {
    display: flex;
    gap: 1rem;
  }
  .show-links {
    padding-top: 0;
  }
  .nav {
    background: transparent;
  }
  .links a {
    color: var(--clr-white);
  }
  .links a:hover {
    color: rgb(100, 100, 12);
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav .social-icons {
    display: flex;
    gap: 0.75rem;
  }

  /* icons style */
  .nav .social-icons i {
    transition: var(--transition);
  }
  .nav .social-icons .fa-facebook {
    color: hsla(218, 86%, 60%, 1);
  }
  .nav .social-icons .fa-facebook:hover {
    color: hsla(218, 86%, 54%, 0.5);
  }

  .nav .social-icons .fa-whatsapp {
    color: hsla(135, 76%, 55%, 1);
  }
  .nav .social-icons .fa-whatsapp:hover {
    color: hsla(135, 76%, 55%, 0.5);
  }

  .nav .social-icons .fa-viber {
    color: hsla(253, 30%, 60%, 1);
  }
  .nav .social-icons .fa-viber:hover {
    color: hsla(253, 30%, 60%, 0.5);
  }
}
/* hero */
.hero-section {
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 100vh;
}
/* banner */
.banner {
  color: rgba(255, 255, 255, 0.85);
  max-width: 400px;
  padding: 0.5rem;
}
.banner h1 {
  margin-bottom: 0.75rem;
}
.banner p {
  margin-bottom: 1.25rem;
}
.cta-button {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-white);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.cta-button:hover {
  background: var(--clr-white);
  color: var(--clr-black);
}

/* Programs */
.program-img {
  margin-bottom: 1.5rem;
}
.program-img .img {
  width: 100px;
  height: 100px;
}
.program {
  text-align: center;
  padding: 1.5rem 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.125);
  max-width: 400px;
}
.programs-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
  justify-content: center;
}
.program-title {
  margin-bottom: 0.875rem;
}
.program p {
  line-height: 1.6;
}
.program p:not(:last-child) {
  margin-bottom: 1rem;
}

/* form */
.contact-form {
  background: rgba(16, 105, 146, 0.1);
}
.form-input {
  display: grid;
  grid-template-columns: 6.25rem 1fr;
  margin-bottom: 0.5rem;
}
.form-input:last-child {
  margin-bottom: 0;
}
.form-input .send-btn {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
}
.send-btn {
  padding: 0.5rem;
  background: 0;
  border: 1px solid grey;
  transition: var(--transition);
  border-radius: 3px;
}
.send-btn:hover {
  padding: 0.5rem;
  background: grey;
  border: 1px solid grey;
  color: var(--clr-white);
}

/* footer */
.footer {
  padding: 4rem 0;
  background: var(--clr-black);
  color: var(--clr-white);
}
.footer a {
  color: var(--clr-white);
}

.footer-center {
  display: grid;
  gap: 1.2rem;
}
.contact-info {
  display: grid;
  gap: 1.2rem;
  /* grid-template-columns: auto auto; */
  justify-content: space-between;
}
.social-icons {
  font-size: 1.5rem;
}

.col-1 p {
  margin-bottom: 0.3rem;
}
.col-2 h3 {
  margin-bottom: 0.5rem;
}
.copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
